<div class="row justify-content-center">
  <div class="col-lg-12">
    <%= render "tenants/admin/projects/tabs", tenant: @tenant, project: @project %>

    <div class="card tab-content">
      <div class="card-body">
        <p>
          <%= link_to t(".actions.new"), new_tenant_admin_project_tracker_path(@tenant, @project), class: "btn btn-primary" %>
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th><%= t(".table.redmine_tracker_name") %></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @trackers.each do |tracker| %>
              <tr>
                <td><%= @tenant.connect_with_redmine { Redmine::Tracker.find_by(id: tracker.redmine_tracker_id) }&.name %></td>
                <td>
                  <%= link_to t(".table.actions.edit"), edit_tenant_admin_project_tracker_path(@tenant, @project, tracker) %> |
                  <%= link_to t(".table.actions.destroy"), tenant_admin_project_tracker_path(@tenant, @project, tracker), method: :delete, confirm: t("shared.confirmation.destroy") %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
