<%= form_with(model: [tenant, :admin, project, form, field.becomes(Field), choice], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :label %>
    <%= f.text_field :label, class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :label, class: "invalid-feedback" %>
  </div>

  <%= f.submit choice.persisted? ? t("shared.form.submit.update") : t("shared.form.submit.create"), class: "btn btn-block btn-primary" %>
<% end %>
